### Data pre-processing and cleaning

In [1]:
!pip install torchtext==0.10.0

Collecting torchtext==0.10.0
  Downloading torchtext-0.10.0-cp39-cp39-macosx_10_9_x86_64.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 3.8 MB/s eta 0:00:0000:0100:01
Collecting torch==1.9.0
  Downloading torch-1.9.0-cp39-none-macosx_10_9_x86_64.whl (127.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 127.9/127.9 MB 5.9 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy in /Users/elhambabaei/opt/anaconda3/envs/elienv/lib/python3.9/site-packages (from torchtext==0.10.0) (1.26.4)
Requirement already satisfied: requests in /Users/elhambabaei/opt/anaconda3/envs/elienv/lib/python3.9/site-packages (from torchtext==0.10.0) (2.32.3)
Requirement already satisfied: tqdm in /Users/elhambabaei/opt/anaconda3/envs/elienv/lib/python3.9/site-packages (from torchtext==0.10.0) (4.66.4)
Requirement already satisfied: typing-extensions in /Users/elhambabaei/opt/anaconda3/envs/elienv/lib/python3.9/site-packages (from torch==1.9.0->torchtext==0.10.0) (4.12.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/elhambabaei/opt/anaconda3/envs/elienv/lib/python3.9/site-packages (from requests->torchtext==0.10.0) (2.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/elhambabaei/opt/anaconda3/envs/elienv/lib/python3.9/site-packages (from requests->torchtext==0.10.0) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/elhambabaei/opt/anaconda3/envs/elienv/lib/python3.9/site-packages (from requests->torchtext==0.10.0) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in /Users/elhambabaei/opt/anaconda3/envs/elienv/lib/python3.9/site-packages (from requests->torchtext==0.10.0) (2024.7.4)
Installing collected packages: torch, torchtext
  Attempting uninstall: torch
    Found existing installation: torch 2.2.2
    Uninstalling torch-2.2.2:
      Successfully uninstalled torch-2.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
torchvision 0.17.2 requires torch==2.2.2, but you have torch 1.9.0 which is incompatible.
torchaudio 2.2.2 requires torch==2.2.2, but you have torch 1.9.0 which is incompatible.
Successfully installed torch-1.9.0 torchtext-0.10.0

In [ ]:
import json
import gzip
import re
import os
import sys
import numpy as np
import pandas as pd
import random
from sklearn.utils import shuffle

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
with open("/content/drive/My Drive/DL/DL_Final_Project/goodreads_reviews_spoiler.json") as f:
    d = [json.loads(line) for line in f]

In [ ]:
df = pd.DataFrame(d)
df

,user_id,timestamp,review_sentences,rating,has_spoiler,book_id,review_id
0,8842281e1d1347389f2ab93d60773d4d,2017-08-30,"[[0, This is a special book.], [0, It started ...",5,True,18245960,dfdbb7b0eb5a7e4c26d59a937e2e5feb
1,8842281e1d1347389f2ab93d60773d4d,2017-03-22,"[[0, Recommended by Don Katz.], [0, Avail for ...",3,False,16981,a5d2c3628987712d0e05c4f90798eb67
2,8842281e1d1347389f2ab93d60773d4d,2017-03-20,"[[0, A fun, fast paced science fiction thrille...",3,True,28684704,2ede853b14dc4583f96cf5d120af636f
3,8842281e1d1347389f2ab93d60773d4d,2016-11-09,"[[0, Recommended reading to understand what is...",0,False,27161156,ced5675e55cd9d38a524743f5c40996e
4,8842281e1d1347389f2ab93d60773d4d,2016-04-25,"[[0, I really enjoyed this book, and there is ...",4,True,25884323,332732725863131279a8e345b63ac33e
...,...,...,...,...,...,...,...
1378028,35cef391b171b4fca45771e508028212,2013-04-16,"[[0, Can't wait for Travis' POV], [0, Travis B...",0,False,15745950,0e1db3d4b04256f9660f5d276ddf1314
1378029,35cef391b171b4fca45771e508028212,2012-12-28,"[[0, Had this on my to-read shelf forever.], [...",0,False,10861195,0b7f352e58caf0fd1f961e98ef04e89c
1378030,35cef391b171b4fca45771e508028212,2013-03-25,"[[0, The last book left me wanting for more.],...",4,False,6131164,9b19eff33ddb14e9e68fca2e90379e46
1378031,35cef391b171b4fca45771e508028212,2013-01-24,"[[0, Things are heating up in the second novel...",4,False,10025305,8be463fed78f0da63e964706f710332b
1378032,35cef391b171b4fca45771e508028212,2012-12-29,"[[0, Before I even start this review, I must s...",5,True,6482837,62ed1263c7d216986cc419cd4e8a408b

In [ ]:
df = shuffle(df)
df = df.sample(frac=0.2)  #working with 20% of data
df

,user_id,timestamp,review_sentences,rating,has_spoiler,book_id,review_id
1015283,842fc7b7aefa95a1dd2d54d7af63c7d0,2017-05-02,"[[0, If I Stay, Gayle Forman, 2009], [0, Genre...",3,False,4374400,db97818bca8b4add30ea8398b0d70895
723995,07120970f319744356143efe5b55e93c,2016-03-09,"[[0, DNFing this at 50%.], [0, I can see how t...",2,False,9538805,87479124c0d6d0ee8e539cfb6532621b
1237782,b86ccbc2c2a265b605b827a9f5f9aecb,2013-01-04,"[[0, I wasn't crazy about the writing or the p...",2,False,8517207,edcf58a6f3dd06856aafda3a8955650f
1016860,b0d7e561ca59e313b728dc30a5b1862e,2012-11-08,"[[0, Cloud Atlas is a wonderfully creative boo...",4,False,49628,7197085c94fed9824c8a7afa025608d4
208998,6f62c585f70efee57490581c93a63637,2016-01-03,"[[0, great installment to the series.], [0, Ex...",4,False,13612962,1026dd3c77e6d9e756513d65fa29498b
...,...,...,...,...,...,...,...
420802,36f026f5f8cba73a00f5a6ae7975be6f,2016-11-13,"[[0, I seem to have fallen in love with my ver...",4,False,25066807,29c26e1d1baeab9333d1989171f22521
216055,1e6279f63ce5838747f34d61656a5336,2016-04-06,"[[0, I love a first kiss scene and while I was...",0,False,29832434,ff9147de3eccde29e2104405de3eecfb
1344808,26e9028eff279f4cd4ee7d56d7381bb1,2016-08-25,"[[0, It was really nice to be among the charac...",4,False,29069989,867d9f98e993471426007cb7f7a2138d
614968,6fa3cc03a5461c021296d9f713da045c,2015-06-16,"[[0, *4.5 stars*], [0, I liked this a hell of ...",4,True,15777621,4c08d811e36fdbfba25bd5cc2b1f1924
974124,7b7e92401399b62e5f6ca5bcacd70941,2012-01-03,"[[0, I seem to have a pattern with Vampire aca...",3,False,5996153,bbc2fd04729efb6b2162a70339c745ae

In [ ]:
# df.replace({'has_spoiler': {'True':1, 'False':0}}, inplace=True)
df['has_spoiler'] = df['has_spoiler']*1
df = df[['review_sentences','has_spoiler']]
df

                                          review_sentences  has_spoiler
1015283  [[0, If I Stay, Gayle Forman, 2009], [0, Genre...            0
723995   [[0, DNFing this at 50%.], [0, I can see how t...            0
1237782  [[0, I wasn't crazy about the writing or the p...            0
1016860  [[0, Cloud Atlas is a wonderfully creative boo...            0
208998   [[0, great installment to the series.], [0, Ex...            0
...                                                    ...          ...
420802   [[0, I seem to have fallen in love with my ver...            0
216055   [[0, I love a first kiss scene and while I was...            0
1344808  [[0, It was really nice to be among the charac...            0
614968   [[0, *4.5 stars*], [0, I liked this a hell of ...            1
974124   [[0, I seem to have a pattern with Vampire aca...            0

[275607 rows x 2 columns]

In [ ]:
print("size of dataset:",len(df))
df_non = df[df['has_spoiler'] == 0]
df_spoiler = df[df['has_spoiler'] == 1]
print("nonspoiler:", len(df_non))
print("spoiler:", len(df_spoiler))
df_non_downsampling = df_non.sample(frac =.08)   # 1288406*0.08
print("weight-decreased nonspoiler:", len(df_non_downsampling))
print("balanced total:", len(df_non_downsampling)+len(df_spoiler))

size of dataset: 275607
nonspoiler: 257603
spoiler: 18004
weight-decreased nonspoiler: 20608
balanced total: 38612

In [ ]:
df_balance = pd.concat([df_non_downsampling,df_spoiler])   # is not shuffled
df_balance

                                          review_sentences  has_spoiler
827718   [[0, ** spoiler alert **], [0, This trilogy is...            0
110288   [[0, I have been trying to read this book, lit...            0
659911   [[0, Wow.], [0, When I heard this was going to...            0
1023137  [[0, I loved all the characters!], [0, The plo...            0
80468    [[0, Win Some, Lose Some by Shay Savage], [0, ...            0
...                                                    ...          ...
148849   [[0, Actual Rating 3.5], [0, This book reminde...            1
821793   [[0, This was and was not what I thought it wo...            1
578497   [[0, This is kind of a hard one to review.], [...            1
1052480  [[0, I liked it, but I didn't love it.], [0, I...            1
614968   [[0, *4.5 stars*], [0, I liked this a hell of ...            1

[38612 rows x 2 columns]

In [ ]:
df_balance = shuffle(df_balance)
#df_balance = df_balance.sample(frac=1).reset_index(drop=True)
df_balance

                                          review_sentences  has_spoiler
1140990  [[0, 3 1/2 stars.], [0, Like most people here ...            1
1128324  [[0, In English Class, we got the assingment t...            0
1191602  [[0, 4.5 Stars], [0, The plot.], [0, After a v...            1
1238331  [[0, Nope - not my cup of tea.], [0, - Why did...            1
549531   [[0, The story is really great - emotional and...            0
...                                                    ...          ...
310210   [[0, wow!], [0, it's for books like this that ...            0
581436   [[0, Full review to come, but just give me all...            0
390006   [[0, Beautifully written, painstakingly resear...            0
832091   [[0, There are many words that I feel like to ...            0
520732   [[0, In this book, Kivrin is part of a time tr...            1

[38612 rows x 2 columns]

In [ ]:
df_final =df_balance[['review_sentences','has_spoiler']] 
df_final.rename(columns = {'review_sentences':'text', 'has_spoiler':'class'}, inplace = True)
df_final = df_final.reset_index(drop=True)

df_final['text'] = df_final['text'].apply(lambda x: ''.join(map(str, x)))    #list to string. flattening by joining the lists
df_final['review_length'] = df_final['text'].apply(lambda x: len(x.split()))
df_final

                                                    text  class  review_length
0      [0, '3 1/2 stars.'][0, "Like most people here ...      1            117
1      [0, 'In English Class, we got the assingment t...      0            354
2      [0, '4.5 Stars'][0, 'The plot.'][0, "After a v...      1            637
3      [0, 'Nope - not my cup of tea.'][0, '- Why did...      1            193
4      [0, 'The story is really great - emotional and...      0             36
...                                                  ...    ...            ...
38607  [0, 'wow!'][0, "it's for books like this that ...      0            111
38608  [0, 'Full review to come, but just give me all...      0             72
38609  [0, 'Beautifully written, painstakingly resear...      0            170
38610  [0, 'There are many words that I feel like to ...      0            273
38611  [0, 'In this book, Kivrin is part of a time tr...      1            529

[38612 rows x 3 columns]

In [ ]:
df_final.describe()

              class  review_length
count  38612.000000   38612.000000
mean       0.466280     270.771755
std        0.498868     278.364369
min        0.000000       2.000000
25%        0.000000      74.000000
50%        0.000000     185.000000
75%        1.000000     379.000000
max        1.000000    2942.000000

In [ ]:
# sentence length
np.mean(df_final['review_length']), np.max(df_final['review_length']), np.min(df_final['review_length'])

(270.77175489485137, 2942, 2)

In [ ]:
import re
import nltk
import string
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
# cleaning

REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]\|@,;]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_?!]')
regex = re.compile('[' + re.escape(string.punctuation) + '0-9\\r\\t\\n]') # remove punctuation and numbers
STOPWORDS = set(stopwords.words('english'))

def clean_text(text):
    text = text.lower() # lowercase text
    text = REPLACE_BY_SPACE_RE.sub(' ', text) # replace REPLACE_BY_SPACE_RE symbols by space in text. substitute the matched string in REPLACE_BY_SPACE_RE with space.
    text = BAD_SYMBOLS_RE.sub('', text) # remove symbols which are in BAD_SYMBOLS_RE from text. substitute the matched string in BAD_SYMBOLS_RE with nothing. 
    #text = re.sub(r'\W+', '', text)
    text = ' '.join(word for word in text.split() if word not in STOPWORDS) # remove stopwors from text
    #text = ''.join(i for i in text if not i.isdigit()) 
    #re.sub(r'[^\w]', ' ', text)     #match anything that's not alphanumeric or underscore
    text = regex.sub(' ', text)
    text = text.strip()
    #text= text.replace(" ", "")
    text= ' '.join(text.split())
    
    return text

In [ ]:
df_final.iloc[0][0]

'[0, \'3 1/2 stars.\'][0, "Like most people here I agree it\'s a futuristic pretty little liars/gossip girl book."][0, "We\'ve got the perfect girl with her secret."][1, \'(Which is kinda disturbing She likes her "brother" ] ) A girl who\\\'s loony and has a drug problem.\'][0, "A girl who\'s life crumbles and she has to move lower (essentially means she\'s poor) A poor girl with a drug dealing boyfriend and a boy with a supercomputer inside his mind."][0, "Overall the book was pretty enjoyable though I wished it had more world building since I couldn\'t understand that aspect of the story like why the tower was built."][0, \'I will read the next book when it comes out though!\']'

In [ ]:
df_final['text'] = df_final['text'].apply(clean_text)

In [ ]:
df_final.iloc[0][0]

'stars like people agree futuristic pretty little liars gossip girl book weve got perfect girl secret kinda disturbing likes brother girl whos loony drug problem girl whos life crumbles move lower essentially means shes poor poor girl drug dealing boyfriend boy supercomputer inside mind overall book pretty enjoyable though wished world building since couldnt understand aspect story like tower built read next book comes though'

In [ ]:
# new lenfth of each review
df_final['review_length'] = df_final['text'].apply(lambda x: len(x.split()))
df_final

                                                    text  class  review_length
0      stars like people agree futuristic pretty litt...      1             65
1      english class got assingment read book allowed...      0            159
2      stars plot volcra attack almost killed bestfie...      1            295
3      nope cup tea hear narrator say kenny south par...      1            103
4      story really great emotional hot way long jump...      0             13
...                                                  ...    ...            ...
38607  wow books like wish knew write even halfway de...      0             55
38608  full review come give fat girl representation ...      0             35
38609  beautifully written painstakingly researched h...      0             88
38610  many words feel like describe book finishing k...      0            128
38611  book kivrin part time travelling college sent ...      1            262

[38612 rows x 3 columns]

In [ ]:
df_final.describe()

              class  review_length
count  38612.000000   38612.000000
mean       0.466280     134.084637
std        0.498868     138.094813
min        0.000000       0.000000
25%        0.000000      36.000000
50%        0.000000      91.000000
75%        1.000000     188.000000
max        1.000000    1427.000000

In [ ]:
# 95% percentile of the length of reviews
L = sorted(df_final['review_length'])
MAX_LENGTH = L[int(len(L)*0.95)]
print(MAX_LENGTH)

401

95% of reviews have a length less than 401.

In [ ]:
# remove reviews with less than 20 and more than 500 tokens tokens
df_final.drop(df_final[df_final['review_length'] < 20].index, inplace = True)
df_final.drop(df_final[df_final['review_length'] > 500].index, inplace = True)

In [ ]:
df_final.describe()

              class  review_length
count  32037.000000   32037.000000
mean       0.529076     140.017761
std        0.499162     105.823786
min        0.000000      20.000000
25%        0.000000      56.000000
50%        1.000000     109.000000
75%        1.000000     197.000000
max        1.000000     500.000000

In [ ]:
df_final.isnull().sum()
#df_final['text']==''.sum()

text             0
class            0
review_length    0
dtype: int64

In [ ]:
df_final['text'].str.len().max(), df_final['text'].str.len().min()

(3779, 107)

In [ ]:
df_final['text'].str.len().idxmax()

17482

In [ ]:
#train 70%, test 20%, valid 10%
df_train = df_final.sample(frac=0.7)
df_droptrain = df_final.drop(df_train.index)

df_test = df_droptrain.sample(frac=0.2)
df_droptrain_droptest = df_droptrain.drop(df_test.index)

df_valid= df_droptrain_droptest.sample(frac=0.1)

In [ ]:
df_train.describe()

              class  review_length
count  22426.000000   22426.000000
mean       0.530099     139.868590
std        0.499104     106.021197
min        0.000000      20.000000
25%        0.000000      56.000000
50%        1.000000     109.000000
75%        1.000000     198.000000
max        1.000000     500.000000

In [ ]:
# 95% percentile of the length of reviews to be considered as the max lenghth for padding
L = sorted(df_train['review_length'])
MAX_LENGTH = L[int(len(L)*0.95)]
print(MAX_LENGTH)

363

In [ ]:
len(df_train), len(df_test), len(df_valid)

(22426, 1922, 769)

In [ ]:
#removing the column review_length
#df_train = df_train.drop(['review_length'], axis=1)
#df_test = df_test.drop(['review_length'], axis=1)
#df_valid = df_valid.drop(['review_length'], axis=1)

In [ ]:
# changing the order of columns text and class 
df_train = df_train[['class', 'text','review_length']]
df_test = df_test[['class', 'text','review_length']]
df_valid = df_valid[['class', 'text','review_length']]

In [ ]:
df_train

       class                                               text  review_length
26493      0  making friends hardest thing world many ways w...            240
7581       1  george rr martin freaking genius get hints gli...            100
27349      0  another quickpacked enjoyable nora roberts esp...            143
2878       0  spoiler alert incredibly confusing ending man ...             69
10494      0  im going tell read book amazing bizarre needs ...            269
...      ...                                                ...            ...
37373      0  saw alot fellow goodreads friends picking one ...            207
32793      0  one delightfully twisted quite liked darkness ...             40
36843      1  angry took days read book damn work always get...            193
34827      0  read prologue standing store immediately capti...             31
8659       1  really upset ending book counting days read ne...             98

[22426 rows x 3 columns]

In [ ]:
# create csv file
df_train.to_csv('/content/drive/My Drive/DL/DL_Final_Project/source/train.csv', index=False)
df_test.to_csv('/content/drive/My Drive/DL/DL_Final_Project/source/test.csv', index=False)
df_valid.to_csv('/content/drive/My Drive/DL/DL_Final_Project/source/valid.csv', index=False)

In [ ]:
#importing files
train = pd.read_csv('/content/drive/My Drive/DL/DL_Final_Project/source/train.csv')
test = pd.read_csv('/content/drive/My Drive/DL/DL_Final_Project/source/test.csv')
valid = pd.read_csv('/content/drive/My Drive/DL/DL_Final_Project/source/valid.csv')

In [ ]:
train

       class                                               text  review_length
0          0  making friends hardest thing world many ways w...            240
1          1  george rr martin freaking genius get hints gli...            100
2          0  another quickpacked enjoyable nora roberts esp...            143
3          0  spoiler alert incredibly confusing ending man ...             69
4          0  im going tell read book amazing bizarre needs ...            269
...      ...                                                ...            ...
22421      0  saw alot fellow goodreads friends picking one ...            207
22422      0  one delightfully twisted quite liked darkness ...             40
22423      1  angry took days read book damn work always get...            193
22424      0  read prologue standing store immediately capti...             31
22425      1  really upset ending book counting days read ne...             98

[22426 rows x 3 columns]

In [ ]:
test

      class                                               text  review_length
0         1  dont normally read smut books thats impression...            156
1         1  times still excellent book started reading boo...            210
2         0  neil gaiman longwinded author penchant useless...             37
3         1  theres something book worked suppose technical...            238
4         0  awesome light sweet read mac yrs old relations...             27
...     ...                                                ...            ...
1917      1  actual rating stars review originally posted h...            443
1918      0  originally posted red house books cant imagine...            137
1919      0  ember olivia mcwilliams special girls olivia p...            293
1920      1  theres doubt poor feast supposed ugly step chi...            183
1921      0  might contain spoilers always want time stand ...            136

[1922 rows x 3 columns]

In [ ]:
valid

     class                                               text  review_length
0        1  stephen king recommended book noted chapter be...             80
1        0  sure took long read think series general slow ...             41
2        1  admit expecting really dislike book say hated ...            406
3        1  riveted entire time series grown love love cha...             58
4        0  sixth colleen hoover book read yet disappointe...             24
..     ...                                                ...            ...
764      0  loved book theres lot hype even movie made com...             51
765      1  nope sorry gah im angry book going loved loved...             75
766      0  first would like say ive missed samantha terri...            231
767      1  know suppose huge book feminism didnt like see...             38
768      0  book like crack pg wodehouse meets isaac asimo...             24

[769 rows x 3 columns]